{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "usage"
      }
    ],
    ["@babel/preset-react", { "useBuiltIns": true }],
    "@babel/preset-typescript"
  ]
}
